---
layout: default
---
<style>
  .artikel-rahmen h1 {
    margin-bottom: 0;
  }

  .beitragskarte-meta-titel {
    color: var(--tinte);
    font-weight: 700;
    text-decoration: none;
  }

  .beitragskarte-meta-titel:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange);
  }
</style>
<div class="artikel-rahmen">
  <h1>{{ page.title }}</h1>
</div>
<div class="artikel-rahmen">
  {% for beitrag in gefundene = site.posts %}
  <div class="beitragskarte-meta">
    {{ beitrag.date | date: "%Y-%m-%d" }}
    <a href="{{ beitrag.url | relative_url }}" class="beitragskarte-meta-titel">{{ beitrag.title }}</a>
  </div>
  {% endfor %}
</div>
