<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff6b2b" />
  <title>{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | truncate: 160 }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  {% seo %}
  {% feed_meta %}
</head>
<body>
  
  <div class="seitenkopf-oben">
    <span class="ausgabe"><span style="color: var(--weiss);">¶</span> <a href="/" style="text-transform: none; font-weight: 400;"><em>svetixoxo</em>.github.io</a> ⁂ <a href="/">Start</a> // <a href="/thema/">Themen</a> // <a href="/archiv/">Archiv</a></span>
    <span class="nur-desktop">{% if page.layout == 'post' %}<span class="logo-posttitel">{{ page.title }}</span>{% else %}Guten Tag und gr&uuml;&szlig; Gott!{% endif %}</span>
  </div>

  <div class="seiteninhalt">
    {{ content }}
  </div>

  <footer class="seitenfuss">
    <span><a href="https://github.com/svetixoxo">github.com/svetixoxo</a></span>
    <span>mit <em>♥</em> gebaut</span>
  </footer>

</body>
</html>
