---
layout: default
---
<style>
    .artikel-rahmen p {
        margin-bottom: 0;
    }

</style>
<div class="artikel-kopf artikel-rahmen kategorie-{{ page.category | downcase | replace: ' & ', '-' | replace: ' ', '-' }}">
    <h1>{{ page.title }}</h1>
    {% if page.excerpt %}<p class="artikel-einleitung">{{ page.excerpt | strip_html }}</p>{% endif %}
</div>
<div class="artikel-inhalt js-seite {% if page.zweispaltig %}zweispaltig{% endif %} kategorie-{{ page.category | downcase | replace: ' & ', '-' | replace: ' ', '-' }}">
    {{ content }}
</div>