---
layout: default
---
<style>
  .beitragskarte-meta {
    display: flex;
    gap: 0.8em;
    align-items: baseline;
    font-size: 0.8rem;
  }

  .beitragskarte-meta-titel {
    color: var(--tinte);
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    text-transform: none;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .beitragskarte-meta-titel:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 2px;
  }

  .artikel-rahmen .beitragskarte-inhalt {
    padding: 0;
  }

  .artikel-rahmen .beitragskarte-meta:last-child {
    margin-bottom: 0;
  }
</style>

<div class="artikel-kopf artikel-rahmen">
  <p class="artikel-meta">Tag</p>
  <h1># {{ page.title }}</h1>
</div>

<div class="beitragsliste">
  {% assign gefundene = site.posts | where_exp: "beitrag", "beitrag.tags contains page.tag" %}
  {% for beitrag in gefundene %}
  {% assign farbindex = forloop.index0 | modulo: 5 %}
  {% assign farbe = streifenfarben[farbindex] %}
  <div class="artikel-rahmen">
    <div class="beitragskarte-inhalt">
      <div class="beitragskarte-meta">
        {{ beitrag.date | date: "%Y-%m-%d" }}
        <a href="{{ beitrag.url | relative_url }}" class="beitragskarte-meta-titel">{{ beitrag.title }}</a>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if gefundene.size == 0 %}
  <div class="artikel-rahmen">
    <p>Es sind noch keine Beiträge mit diesem Tag vorhanden.</p>
  </div>
  {% endif %}
</div>
