---
layout: default
---
<div class="beitragsliste">
  <div class="artikel-rahmen">
  <h1>#{{ page.title }}</h1>
    {% assign gefundene = site.posts | where_exp: "beitrag", "beitrag.tags contains page.tag" %}
    {% for beitrag in gefundene %}
    <div class="beitragskarte-inhalt">
      <div class="beitragskarte-meta">
        {{ beitrag.date | date: "%Y-%m-%d" }}
        <a href="{{ beitrag.url | relative_url }}" class="beitragskarte-meta-titel">{{ beitrag.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if gefundene.size == 0 %}
  <div class="artikel-rahmen">
    <p>Es sind noch keine Beiträge mit diesem Tag vorhanden.</p>
  </div>
  {% endif %}
</div>
